@{
    var nombreUsuario = Context.Session.GetString("NombreUsuario");

    if (nombreUsuario != null)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutExterno";
    }
}

<div class="container d-flex flex-column justify-content-center align-items-center text-center">

    <img src="https://cdn-icons-png.flaticon.com/512/564/564619.png"
         width="175" height="150"
         class="mb-4" alt="">

    <h1 class="mb-3">Se presentó un problema inesperado</h1>

    <p class="text-white mb-4">
        Nuestro sistema se encuentra temporalmente fuera de servicio.
        Estamos solucionando el problema lo antes posible.
    </p>
    
    <a asp-action="Index" asp-controller="Home" class="btn btn-light">Regresar</a>

</div>